.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  padding: 26px 32px;
  background-color: $bg-balance;
  color: white;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;

  @media #{$media} {
    margin-bottom: 16px;
    padding: 20px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
  }

  &-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;

    @media #{$media} {
      font-size: 15px;
      margin-bottom: 4px;
    }
  }

  &-sum {
    font-size: 32px;
    font-weight: 700;

    @media #{$media} {
      font-size: 24px;
    }
  }

  &-logo {
    margin-top: 5px;
    margin-right: 6px;

    @media #{$media} {
      width: 60px;
    }

    svg {
      width: 72px;
      height: 48px;
    }
  }
}
