@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  box-sizing: border-box;
  background-color: $main-bg-color;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;

  @media #{$media} {
    font-size: 15px;
  }
}

.wrapper {
  width: 540px;
  margin: 0 auto;
  margin-top: 182px;

  @media #{$media} {
    width: 342px;
    margin-top: 66px;
  }
}
