$main-bg-color: rgb(248, 233, 221);
$text-white: white;
$text-black: black;
$bg-balance: rgb(236, 119, 95);
$bg-chart: rgb(255, 250, 245);
$bg-day: rgb(236, 119, 95);
$bg-day-active: rgb(118, 181, 188);

$media: 'only screen and (max-width: 540px)';
